@{
    string token = ViewData["AuthToken"] as string;
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if(token != null)
    {
        <a class="btn btn-primary" asp-controller="User" asp-action="Loggout">Logout</a>
        <a class="btn btn-warning" asp-controller="User" asp-action="ChangePassword">Change Password</a>
    }
    else
    {
        <a class="btn btn-primary" asp-controller="User" asp-action="LoginUser">Login</a>
    }


</div>
