@model ChangePasswordDto
@{
    string token = ViewData["AuthToken"] as string;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Password">Actual Password</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <label asp-for="NewPassword">New Password</label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
        <button type="submit" class="btn btn-primary">Register</button>

    </div>
    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="text-danger">
            <p>@ViewData["ErrorMessage"]</p>
        </div>
    }
}