@model Site.Models.Dtos.Users.UserLoginDto

<h2>Login User</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">

        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>

        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <button type="submit" class="btn btn-primary">Login</button>

        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="text-danger">
                <p>@ViewData["ErrorMessage"]</p>
            </div>
        }
    </div>
}